.App {
  text-align: center;
}

.color_text {
  color: #ffffff;
}

.main_container {
  margin-left: 27vw;
  align-items: center;
  align-self: center;
  background-color: #ffffff4c;
  border-radius: 25px;
  box-shadow: 1px 1px 15px #000000;
}
